<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <header>
        <nav>
          <a class="test" href="/">Filmoteka</a>
          <a href="">Home</a>
          <a href="">My Library</a>
        </nav>
        <input type="text" />
      </header>
    </section>
    <section>
      <ul class="filmList">
        <li class="film-card">
          <img
            class="film-card-img"
            src="https://image.tmdb.org/t/p/w200/4cR3hImKd78dSs652PAkSAyJ5Cx.jpg"
            alt=""
          />
          <h3>Title</h3>
          <div class="film-card-info">
            <p>Genres | year</p>
          </div>
        </li>
      </ul>
    </section>
    <section></section>
  </body>
</html>
